<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock title %}</title>
</head>
<body>
    <header>
        {% block header %}
            <h1>My Site</h1>
        {% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        {% block footer %}
            <p> {{ year }} My Site</p>
        {% endblock footer %}
    </footer>
</body>
</html>
